<script>
    const pageRedirectionEvent = (url) => {
        gtag('event', 'redirection', {
            'url': url,
        });
        window.location.assign(url);
    }
</script>
<style>
    .marketing.h-entry {
        margin-top: -30px;
    }

    .marketing .hire {
        font-weight: bold;
    }
</style>
<article class="post h-entry marketing">

    <div class="post-content e-content" itemprop="articleBody">

        <small>Megazone Kuberix 는 국내 최고 수준의 Outer Architecture 영역의 기술을 제공 하는 메가존 얼라이언스의 멤버 입니다.</small>

        <div class="hire">
            열정적인 엔지니어분 모집중입니다. <a
                onclick="pageRedirectionEvent('https://www.jobkorea.co.kr/Recruit/GI_Read/41421394?Oem_Code=C1')">채용
            바로가기</a>
        </div>
        <div class="hire">
            글 내용에 대해 상세히 알고 싶으세요? <a
                onclick="pageRedirectionEvent('https://kuberix.com/')">메가존 쿠버릭스
            바로가기</a>
        </div>
        <div class="hire">
            Phone: 010 4034 1807
            Email: kuberix@kuberix.com
        </div>
    </div>
</article>
